/*================================GENERAL===============================*/
@import url("./Quicksand-Bold/style.css");
@import url("./Quicksand-Light/style.css");

:root {
    --color-section: rgb(2, 69, 122);
    
}
#fondoGeneral {
    background-color: rgb(0, 27, 72);
}
#footerFondo {
    margin-top: auto;
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: rgb(2, 69, 122);
    color: rgb(151, 202, 216);
}

.menu {
    padding-left: 200px;
    width: 600px;
    height: 40px;
    margin: auto;

}
.menu a:hover {
    background-color: rgb(1, 186, 190);
    color: rgb(2, 69, 122);
     
  }

.menu ul li{
    list-style: none;
    float: left;
     
}
.menu ul li a {
    color: rgb(1, 186, 190);
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid rgb(1, 138, 190);
     
}
h1 {
    color:rgb(151, 202, 216);
    text-align: center;
    padding: 5px;
    font-family: 'Quicksand Bold', Arial; 
}
h2 {
    color:rgb(151, 202, 216);
    text-align: center;
    font-family: 'Quicksand Bold', Arial;
}
p {
    color:rgb(151, 202, 216);
    text-align: center;
     
}
.centrarT {
    text-align: center;
}

/*==INDEX==*/
#introIndex {
    padding-left: 20px;
    background-color: rgb(2, 69, 122);
    margin: auto;
     
}
img.strImg{
    max-width: 200px; 
    max-height: 200px;
    margin: auto;
    
}
img.algoImg{
    max-width: 400px; 
    max-height: 400px;
    margin: auto;
    
}
.botones ul li{
    list-style: none;
    float: left;
    
}
.botones ul li a {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: rgb(214, 232, 238);
}
/*============================ANIMACION===============================*/
#fondoAnimacion {
    background-color: rgb(0, 27, 72);
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.main-animacion {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: 10px;
}
@media screen and (min-width:1024px){
    .main-animacion{
        display: flex;
        flex-direction: row;
    }
    .container-matriz {
        flex-basis: 25%;
   
    }
    .container-animacion {
        flex-basis: 75%;
        background-color: rgb(151, 202, 216);
    }
}
.container-matriz {
    
    background-color: var(--color-section);
    flex-grow: 1;
    display: flex;
    justify-content: center;
    
}
.container-animacion {
    flex-grow: 1;
    flex-direction: column;
    display: flex;
    
}
.container-TituloAni {
    justify-content: center;
    align-items: center;
    background-color: var(--color-section);
}
.container-movimiento {
    display: flex;
    flex-direction: row;
    background-color: rgb(214,232,238);
}
/*==Movimiento cajas==*/

/*===============================MATRICES===============================*/
.matrix {
    position: relative;
    margin-bottom: 10px;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 10%;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0px;
}
.matrix:after {
    right: -6px;
    border-left: 0px;
}
.matrix td {
    padding: 5px;   
    text-align: center;
}
.genMat{
    padding-top: 20px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: auto;
    border: 1px solid #000;
}

/*===============================cfuente===============================*/
.cFuente img{
    padding-left: 30px;
    margin-left: auto;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}