/*==GENERAL==*/
#fondoGeneral {
    background-color: rgb(0, 27, 72);
}
#footerFondo {
    padding-top: 1px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: rgb(2, 69, 122);
    color: rgb(151, 202, 216);
}

.menu {
    padding-left: 200px;
    width: 600px;
    height: 40px;
    margin: auto;
    font-family: Quicksand; 
}
.menu a:hover {
    background-color: rgb(1, 186, 190);
    color: rgb(2, 69, 122);
  }

.menu ul li{
    list-style: none;
    float: left;
}
.menu ul li a {
    color: rgb(1, 186, 190);
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid rgb(1, 138, 190);
}
h1 {
    color:rgb(151, 202, 216);
    text-align: center;
    padding: 5px;
    font-family: Quicksand; 
}
p{
    color:rgb(151, 202, 216);
    text-align: center;
    font-family: Quicksand; 
}
.centrarT {
    text-align: center;
}

/*==INDEX==*/
#introIndex {
    padding-left: 20px;
    background-color: rgb(2, 69, 122);
    margin: auto;
    font-family: Quicksand; 
}
img.strImg{
    max-width: 200px; 
    max-height: 200px;
    margin: auto;
    
}
.botones ul li{
    list-style: none;
    float: left;
    
}
.botones ul li a {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background-color: rgb(214, 232, 238);
}
/*==ANIMACION==*/
.animacion2 {
    margin-right: 20px;
    margin-bottom: 5px;
    border: 1px solid rgb(2, 69, 122);
}
#caja {
    position: relative;
}
.caja.animar{
    
    width: 125px;height: 120px;
    animation-name: animarCaja1;
    animation-duration: 5s;
    position: relative;
}
.subCaja.animar{
    
    animation-name: animarSubcajas;
    color: white;
}
.caja2.animar{
    width: 125px;height: 120px;
    animation-name: animarCaja2;
    animation-duration: 5s;
    position: relative;
}

@keyframes animarCaja1 {

    0% {opacity:0; background: #aaa; left: 0px; top: -100px;}
    20% {opacity: 1;width: 200px;height: 150px;background: green;left: 0px; top: 0px;}
    25% {}
    50% {}
    
    100% {width: 200px;height: 150px;background: blue;left: 500px; top: -100px;} /*Finalizado*/
}
@keyframes animarCaja2 {

    0% {opacity:0; background: #aaa; left: 0px; top: -100px;}
    20% {opacity: 1;width: 200px;height: 150px;background: red;left: 0px; top: 0px;}
    25% {}
    50% {}
    
    100% {width: 200px;height: 150px;background: blue;left: 500px; top: 70px;} /*Finalizado*/
}
@keyframes animarSubcajas {
    2% {opacity: 0;};
    25%{};
}
/*==cfuente==*/
.cFuente img{
    padding-left: 30px;
    margin-left: auto;
}
.matrix {
    position: relative;
    margin-bottom: 10px;
}

.matrix:before, .matrix:after {
    content: "";
    position: absolute;
    top: 0;
    border: 1px solid #000;
    width: 10%;
    height: 100%;
}
.matrix:before {
    left: -6px;
    border-right: 0px;
}
.matrix:after {
    right: -6px;
    border-left: 0px;
}
.matrix td {
    padding: 5px;   
    text-align: center;
}
.genMat{
    border: 1px solid #000;
}